*.pyc
*.swp
*.egg-info
.cache/
.coverage
blockchain.cache
env
htmlcov/
joinmarket.cfg
joinmarket.cfg.bak
scripts/joinmarket.cfg
scripts/cmttools/commitments.json
scripts/blacklist
alicekey
alicepubkey
bobkey
commitments_debug.txt
dummyext
deps/
jmvenv/
logs/
miniircd/
miniircd.tar.gz
nums_basepoints.txt
schedulefortesting
test_proposals.txt
commitmentlist
scripts/commitmentlist
tmp/
wallets/
scripts/jm-tx-history.txt
