services:
  x-jmbase:
    build:
      context: .
      args:
        BITCOIN_VERSION: 29.2
        PYTHON_IMAGE_TAG: 3.13-slim-trixie
    volumes:
      - ./src:/jm/clientserver/src
      - ./test:/jm/clientserver/test
      - ./scripts:/jm/clientserver/scripts
  test:
    extends: x-jmbase
    image: joinmarket:test
    build:
      target: test
    shm_size: '2gb'
    command: ["./test/run_tests.sh", "-v"]
